/************************** 폰트 설정 **************************/
@font-face { 
	font-family: 'Nanum';
	src: url('../font/NanumGothic-Regular.ttf') format('truetype');
}
@font-face { 
	font-family: 'Icecream_en';
	src: url('../font/Pacifico-Regular.ttf') format('truetype');
}
@font-face { 
	font-family: 'Satisfy_en';
	src: url('../font/Satisfy-Regular.ttf') format('truetype');
}
@font-face { 
	font-family: 'NEXON';
	src: url('../font/NEXON Lv2 Gothic Light.ttf') format('truetype');
}
@font-face { 
	font-family: 'NEXON_B';
	src: url('../font/NEXON Lv2 Gothic Bold.ttf') format('truetype');
}
@font-face {
    font-family: 'Rix';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2207-01@1.0/RixInooAriDuriR.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}
/************************************************************/
* {
	box-sizing: border-box;
    margin: 0;
    padding: 0;
}
html, body {
	font-family: 'Nanum';
}
a {
	text-decoration: none;
	color: #000; font-weight: 900;
}
table, th{
	text-align: left;
	padding: 10px 0 10px 0;
}
td {
	padding-left: 10px;
}
/*****************************************************************
/*
모바일 우선
A
@media ( min-width: 768px ) {
  B
}
@media ( min-width: 1024px ) {
  C
}

데스크톱 우선
A
@media ( max-width: 1023px ) {
  B
}
@media ( max-width: 767px ) {
  C
}
*/
/* MENU */
@media ( min-width: 0px ) and ( max-width: 1024px ) {
	.content_main #nav {
		width:100%;
		position: fixed;
		z-index: 100;
		
		transition: all 1s;
	}
	.content_main #nav.active {
		background-color: rgba(255, 255, 255, 0.7);
		box-shadow: 15px 2px 23px #699999;
		margin-top: -15px;
		
		transition: all 0.5s; 
	}
	.content_main .container {
		margin:0 auto;
		width:768px;
	}
	.content_main ul {
		float: left;
	}
	.content_main ul li {
		display: inline-block;
		padding: 50px 20px 35px 20px;
	}
	.content_main ul li a{
		font-size:1.2em;
		font-family:'Nanum'; font-weight: 900;
		color: #638181;
		transition: all 1s;
	}
	.content_main ul li a:hover{
		color: #eee;
		transition: all 1s;
	}
	/*************************************************/
	/* START */
	/* section 첫 번째 */
	.content_main {
		background-image: linear-gradient(#f5faff 10%, #c7ddf1 50%, #dbfff6);
		height: 600px;
	}
	.main-section1 {
		margin: 0 auto;
		padding: 240px 0 0 0px; 
		width: 800px;
	}
	.main-section1 p {
		font-family: 'Rix'; font-size: 3.4em; font-weight:900;  
		padding-left: 10px;
		background: linear-gradient(to right top, #6c95fc, #5fe3e3, #7ef49f 70%);    
		-webkit-background-clip: text;
		-webkit-text-fill-color: transparent;
	}
	.main-section1 p:nth-child(2) {
		padding: 30px 0 10px 10px;
		font-family: 'NEXON'; font-size: 0.9em; font-weight: 900; line-height: 23px;
		
		background: linear-gradient(to right top, #6c95fc, #5fe3e3);    
		-webkit-background-clip: text;
		-webkit-text-fill-color: transparent;
	}
	.main-section1 a.btn {
		display: block; width: 200px; padding: 14px; 
		margin-top: 20px; margin-left:5px; text-align: center; border-radius: 50px;
		background: linear-gradient(to left, #6c95fc, #5fe3e3); color: #fff;
		
		font-family:'NEXON';
		text-shadow: rgba(0, 0, 0, 0.4) 1px 0 10px;
		box-shadow: 5px 5px 1px #6c95fc;
		transition: all 1s;
	}
	.main-section1 a.btn:hover {
		transition: all 1s;
		transform: translateY(-15%);

	}
	/* box-1 ~ box-3 애니메이션 */
	@keyframes up-down{
	  from{
		transform: translatey(0px);
	  }
	  to{
		transform: translatey(-20px);
	  }
	}
	@keyframes spin-box{
	  from{
		transform: rotate(7deg);
	  }
	  to{
		transform: rotate(-7deg);
	  }
	}
	@keyframes spin-box2{
	  from{
		transform: rotate(-3deg);
	  }
	  to{
		transform: rotate(17deg);
	  }
	}
	/************************/
	.box-1 {
		position: absolute; margin: -290px 0 0 360px;
		background-image: url("../img/box/768/1.png");
		width:391px; height:388px;  
		animation: up-down 1.7s infinite ease-in-out alternate;
	}
	.box-1 span:nth-child(1) {
		position:absolute; margin: 170px 0 0 110px;
		background-image: url("../img/box/768/in.png");
		width:134px; height:159px;  
		transform: rotate(15deg);
		animation: spin-box2 2.6s infinite ease-in-out alternate;
	}
	.box-1 span:nth-child(2) {
		position:absolute; margin: 150px 0 0 80px;
		background-image: url("../img/box/768/book.png");
		width:63px; height:63px;  
		transform: rotate(-15deg);
	}
	.box-1 span:nth-child(3) {
		position:absolute; margin: 130px 0 0 170px;
		background-image: url("../img/box/768/note.png");
		width:37px; height:26px;  
		transform: rotate(-15deg);
	}
	.box-2 {
		position: absolute;
		background-image: url("../img/box/768/2.png");
		width:423px; height:400px;  
		animation: up-down 0.7s infinite ease-in-out alternate;
		animation: spin-box 1.6s infinite ease-in-out alternate;
	}
	.box-3 {
		position: absolute;
		background-image: url("../img/box/768/3.png");
		width:416px; height:402px;  
		animation: up-down 2.7s infinite ease-in-out alternate;
	}
	/************************************************************
	/* section 두 번째 */
	.content_2 {
		padding-top: 130px;
		background-image: linear-gradient(#dbfff6, #dbffe9 50%, #fbffdb);
		height: 810px;
		
		font-family: 'NEXON'; font-weight: 900;
	}
	.content_2 > p{
		margin: 0 auto;
		text-align: center;
		font-size: 2.7em; font-weight: 100; color:#90cdda; line-height: 100px;
		font-family: 'Rix'; 
		width: 800px;
	}
	.content_2 p span {
		display: block;
		width: 120px;
		
		margin: 0 auto;
		border-bottom:7px solid #4f7b8d;
	}
	/* 박스 */
	.content_2 > .profile_box {
		clear: both;
		padding: 50px;
		margin:0 auto;
		width: 800px; height: 560px;
		
		background-color: rgba(255, 255, 255, 0.2);
		transition: all 0.5s;
		
		border:1px solid #fff; border-radius: 30px;
		
		box-shadow: 2px 2px 15px rgba(62, 96, 96, 0.1);
	}
	.content_2 > .profile_box:hover {
		background-color: rgba(255, 255, 255, 0.5);
		transition: all 0.4s;
		
		border:1px solid #fff;
	}
	/* 왼쪽 컨텐츠 */
	.content_2 > .profile_box > .profile-left { float: left; width: 315px; color:#1b3b48; }
	.content_2 > .profile_box > .profile-left img { max-width: 200px; }
	.content_2 > .profile_box > .profile-left > h1 { font-size: 1.8em; font-weight: 900; font-family: 'NEXON_B'; letter-spacing: -2px; }
	.content_2 > .profile_box > .profile-left > h1 > span { margin-top: -13px; display: block; width: 210px; height: 20px; background-color: rgba(62, 96, 96, 0.3); }
	.content_2 > .profile_box > .profile-left > h2 { padding-top: 25px; font-size: 0.8em;}
	.content_2 > .profile_box > .profile-left > h2 > p { line-height: 20px; } 
	.content_2 > .profile_box > .profile-left > h2 > table, th, td { padding-top:5px; margin:0; }
	
	/* 오른쪽 컨텐츠 */
	.content_2 > .profile_box > .profile-right { 
		float: left; 
		width: 375px; 
		font-size: 0.8em; letter-spacing: -1px; color:#1b3b48;
	}
	.content_2 > .profile_box > .profile-right a {
		text-decoration: underline;
	}
	.content_2 > .profile_box > .profile-right h2 {
		line-height : 20px;
	}
	.content_2 > .profile_box > .profile-right  > .profile-right-text {
		line-height : 25px;
	}
	.content_2 > .profile_box > .profile-right > h2 > span:after {    
		position: absolute;
		content: '';
		width: 8px;
		height: 8px;
		border-top: 2px solid #006d9a;
		border-right: 2px solid #006d9a;
		transform: rotate(45deg);
		margin-top: 5px;
	}
	/* SKILL 아이콘 */
	.content_2 > .profile_box > .profile-right span img {display: block; float:left; margin:15px 12px 0 0; transition:all 1s;}
	.content_2 > .profile_box > .profile-right span img:hover { 
		margin:5px 12px 0 0;
		transition:all 0.3s;
	}
	.content_2 > .profile_box > .profile-right span img:nth-child(1):hover {
		-webkit-filter: drop-shadow(0px 5px 10px rgba(255, 138, 88, 0.7));
        filter: drop-shadow(0px 5px 10px rgba(255, 138, 88, 0.7));
	}
	.content_2 > .profile_box > .profile-right span img:nth-child(2):hover {
		-webkit-filter: drop-shadow(0px 5px 10px rgba(234, 232, 36, 0.7));
        filter: drop-shadow(0px 5px 10px rgba(255, 232, 36, 0.7));
	}
	.content_2 > .profile_box > .profile-right span img:nth-child(3):hover {
		-webkit-filter: drop-shadow(0px 5px 10px rgba(36, 148, 234, 0.7));
        filter: drop-shadow(0px 5px 10px rgba(36, 148, 234, 0.7));
	}
	.content_2 > .profile_box > .profile-right span img:nth-child(4):hover {
		-webkit-filter: drop-shadow(5px 5px 6px rgba(17, 70, 111, 0.5));
        filter: drop-shadow(5px 5px 6px rgba(17, 70, 111, 0.7));
	}
	.content_2 > .profile_box > .profile-right span img:nth-child(5):hover {
		-webkit-filter: drop-shadow(5px 5px 6px rgba(111, 79, 17, 0.5));
        filter: drop-shadow(5px 5px 6px rgba(111, 79, 17, 0.7));
	}
	.content_2 > .profile_box > .profile-right span img:nth-child(6):hover {
		-webkit-filter: drop-shadow(5px 5px 6px rgba(66, 17, 111, 0.5));
        filter: drop-shadow(5px 5px 6px rgba(66, 17, 111, 0.7));
	}
	
	.content_2 > .profile_box > .profile-right > h2 { font-size: 1.25em; font-weight: 900;}
	/* section 세번째 */
	.content_3 {
		padding-top: 80px;
		background-image: linear-gradient(#fbffdb, #fff4db 50%, #f4ffdb);
		height: 770px;
		
		font-family: 'NEXON'; font-weight: 900;
	}
	.content_3 > p{
		margin: 0 auto;
		text-align: center;
		font-size: 2.7em; font-weight: 100; color:#d1d5b4; line-height: 110px;
		font-family: 'Rix'; 
		width: 800px;
	}
	.content_3 p span {
		display: block;
		width: 120px; height: 25px;
		
		margin: 0 auto;
		border-bottom:7px solid #939871;
	}
	.content_3 .box__gallery {
		margin-top: 0px;
	}
	/* 갤러리 썸네일들 */
	.box__gallery {
		width: 800px;
		margin: 0 auto;
		display: flex;
		flex-wrap: wrap;
		justify-content: space-between;
	}
	.box__gallery img {
		width: 251px;
		margin: 0 15px 50px 0;
		border-radius: 1em;
		
		box-shadow: rgba(0, 0, 0, 0.2) 3px 7px 15px;
		transition: all 0.4s;
	}
	@keyframes ring{
	  0%{
		transform: rotate(0deg);
	  }
	  50%{
		transform: rotate(4deg);
	  }
	  100%{
		transform: rotate(-2deg);
	  }
	}
	.box__gallery img:hover {
		filter: brightness(80%);
		transition: all 0.4s;
		animation: ring 0.6s infinite ease-in-out alternate;
	}
	/* section 네번째 */
	.content_4 {
		padding-top: 110px;
		background-image: linear-gradient(#f4ffdb, #dbffe2 50%, #dbfffc);
		height: 1850px;
		
		font-family: 'NEXON'; font-weight: 900;
	}
	.content_4 > p{
		margin: 0 auto;
		text-align: center;
		font-size: 2.7em; font-weight: 100; color:#7c978c; line-height: 110px;
		font-family: 'Rix'; 
		width: 800px;
	}
	.content_4 p span {
		display: block;
		width: 120px;
		
		margin: 0 auto;
		border-bottom: 6px solid #52675f;
	}
	/* section 네번째 포트폴리오 1 */
	.content_4 .portfolio-1,
	.content_4 .portfolio-2,
	.content_4 .portfolio-3,
	.content_4 .portfolio-4,
	.content_4 .portfolio-5 {
		clear: both;
		padding: 45px 0 0 30px;
		margin:0 auto; margin-bottom: 30px;
		width: 800px; height: 310px;
		
		background-color: rgba(255, 255, 255, 0.2);
		border:1px solid #fff; border-radius: 30px;
		box-shadow: 2px 2px 15px rgba(62, 96, 96, 0.1);
	}
	.content_4 .portfolio-1 > #darkeden img,
	.content_4 .portfolio-2 > #jungang img,
	.content_4 .portfolio-3 > #lg img,
	.content_4 .portfolio-4 > #mac img,
	.content_4 .portfolio-5 > #manggo img {
		width: 45%; margin: 10px 0 0 10px;
		border-radius: 1em; 
		box-shadow: rgba(0, 0, 0, 0.3) 2px 2px 6px;
		
		float: left;
	}
	.content_4 .portfolio-1 > #darkeden_text,
	.content_4 .portfolio-1 > .darkeden-btn,
	.content_4 .portfolio-2 > #jungang_text,
	.content_4 .portfolio-2 > .jungang-btn,
	.content_4 .portfolio-3 > #lg_text,
	.content_4 .portfolio-3 > .lg-btn,
	.content_4 .portfolio-4 > #mac_text,
	.content_4 .portfolio-4 > .mac-btn,
	.content_4 .portfolio-5 > #manggo_text,
	.content_4 .portfolio-5 > .manggo-btn{
		float: left;
		padding-left: 80px;
	}
	.content_4 .portfolio-1 > #darkeden_text span,
	.content_4 .portfolio-2 > #jungang_text span,
	.content_4 .portfolio-3 > #lg_text span,
	.content_4 .portfolio-4 > #mac_text span,
	.content_4 .portfolio-5 > #manggo_text span {
		display: block; margin-top: 5px;
		font-size: 1.689em; color: #4b635f;
		
		font-family:'NEXON_B';
	}
	.content_4 .portfolio-1 > #darkeden_text h3,
	.content_4 .portfolio-2 > #jungang_text h3,
	.content_4 .portfolio-3 > #lg_text h3,
	.content_4 .portfolio-4 > #mac_text h3,
	.content_4 .portfolio-5 > #manggo_text h3 {
		font-size: 0.9em; color: #000;
	}
	.content_4 .portfolio-1 > #darkeden_text p,
	.content_4 .portfolio-2 > #jungang_text p,
	.content_4 .portfolio-3 > #lg_text p,
	.content_4 .portfolio-4 > #mac_text p,
	.content_4 .portfolio-5 > #manggo_text p{
		display: block;
		padding-top: 20px;
		font-size: 0.89em; color: #4b635f; line-height: 20px;
		width: 280px;
		
		font-family:'NEXON';
	}
	.content_4 .portfolio-1 > .darkeden-btn a,
	.content_4 .portfolio-2 > .jungang-btn a,
	.content_4 .portfolio-3 > .lg-btn a,
	.content_4 .portfolio-4 > .mac-btn a,
	.content_4 .portfolio-5 > .manggo-btn a{
		margin-top: 30px; font-size: 0.89em;
		padding: 5px 30px 5px 30px; border-radius: 1em;
		color: #fff;
		background-image: linear-gradient(to left, #89df9a, #98f9ab);
		box-shadow: rgba(125, 207, 141, 0.5) 3px 7px 8px;
		display: block;
		transition: all 1s;
	}
	.content_4 .portfolio-1 > .darkeden-btn a:hover,
	.content_4 .portfolio-2 > .jungang-btn a:hover,
	.content_4 .portfolio-3 > .lg-btn a:hover,
	.content_4 .portfolio-4 > .mac-btn a:hover,
	.content_4 .portfolio-5 > .manggo-btn a:hover{
		opacity: 0.4;
		transition: all 0.4s;
	}
	/******************************************* 
	section 다섯번째 
	*******************************************/
	.content_5 {
		padding-top: 40px;
		background-image: linear-gradient(#f4ffdb, #fffedb 50%, #f4ffdb);
		height: 500px;
		
		font-family: 'NEXON'; font-weight: 900;
	}
	.content_5 > p{
		margin: 0 auto;
		text-align: center;
		font-size: 2.7em; font-weight: 100; color:#bec39e; line-height: 110px;
		font-family: 'Rix'; 
		width: 800px;
	}
	.content_5 > p span {
		display: block;
		width: 120px;
		
		margin: 0 auto;
		border-bottom: 6px solid #989571;
	}
	.content_5 .portfolio2-box {
		width:800px;
		margin: 0 auto;
	}
	/* section 5 슬라이드 */
	.swiper-container {
		width:800px;
		height:auto;
		float:left;
	}
	.swiper-slide img {
		margin: 0 3px 3px 3px;
		float: left;
		box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.2);
	}
	/* 슬라이드 이미지 */
	.image1 { width: 260px; height: 342px; }
	.slide-text p { 
		position: absolute; transition: all 0.4s; 
		opacity: 0; color: #efefef;
		top: 50%; left: 16.5%;
		transform: translate(-50%, -16%);
		text-align: center;
	}
	.slide-text span { font-size : 25px; }
	.slide-text:hover p {
		transition: all 0.4s; opacity: 1;
	}
	.slide-text:hover .cover-image {
		position: absolute;
		width: 260px; height: 342px;
		top: 50%; left: 16.7%;
		transform: translate(-50%, -50%);
		background-color: rgba(0, 0, 0, 0.4);
	}
	
	.image2 { width: 260px; height: 342px; }
	.slide-text2 p { 
		position: absolute; transition: all 0.4s; 
		opacity: 0; color: #efefef;
		top: 55.5%; left: 51%;
		transform: translate(-54%, -50%);
		text-align: center;
	}
	.slide-text2 span { font-size : 25px; }
	.slide-text2:hover p {
		transition: all 0.4s; opacity: 1;
	}
	.slide-text2:hover .cover-image {
		position: absolute;
		width: 260px; height: 342px;
		top: 50%; left: 50%;
		transform: translate(-50%, -50%);
		background-color: rgba(0, 0, 0, 0.4);
	}
	
	.image3 { width: 260px; height: 342px; }
	.slide-text3 p { 
		position: absolute; transition: all 0.4s; 
		opacity: 0; color: #efefef;
		top: 61%; left: 85%;
		transform: translate(-58%, -84%);
		text-align: center;
	}
	.slide-text3 span { font-size : 25px; }
	.slide-text3:hover p {
		transition: all 0.4s; opacity: 1;
	}
	.slide-text3:hover .cover-image {
		position: absolute;
		width: 260px; height: 342px;
		top: 51%; left: 83%;
		transform: translate(-49%, -51%);
		background-color: rgba(0, 0, 0, 0.4);
	}
	
	/*
	.image4 { width: 394px; height: 512px; }
	.image5 { width: 393px; height: 512px; }
	.image6 { width: 394px; height: 512px; }*/
	/* section 다섯번째 */
	.content_6 {
		background-image: linear-gradient(#dbfffc, #dbfffc 50%, #f5faff);
		
		font-family: 'NEXON'; font-weight: 900;
	}
	.footer-box {
		width: auto; height: 180px;
		background-color: rgba(255, 255, 255, 0.2); box-shadow: rgba(0, 0, 0, 0.2) 1px 5px 30px;
		border-radius: 999px 999px 0 0;
	}
	.content_6 .footer-box > p{
		margin: 0 auto;
		text-align: center;
		font-size: 1.98em; font-weight: 100; color:#9ab2b0; padding-top: 10px;line-height: 70px;
		font-family: 'Rix'; 
	}
	.content_6 .footer-box > p span {
		display: block;
		width: 120px;
		
		margin: 0 auto;
		border-bottom: 6px solid #b5d3d1;
	}
	.content_6 .footer-box > h3 {
		display: block; padding-top: 20px; font-size: 12px;
		line-height: 15px;
		text-align: center;
		margin: 0 auto;
		color: #4f6967;
	}
}
@media ( min-width: 1024px ) {
	.content_main #nav {
		width:100%;
		position: fixed;
		z-index: 100;
		
		transition: all 1s;
	}
	.content_main #nav.active {
		background-color: rgba(255, 255, 255, 0.7);
		box-shadow: 15px 2px 23px #699999;
		margin-top: -15px;
		
		transition: all 0.5s; 
	}
	.content_main .container {
		margin:0 auto;
		width:1000px;
	}
	.content_main ul {
		float: left;
	}
	.content_main ul li {
		display: inline-block;
		padding: 50px 20px 35px 20px;
	}
	.content_main ul li a{
		font-size:1.2em;
		font-family:'Nanum'; font-weight: 900;
		color: #638181;
		transition: all 1s;
	}
	.content_main ul li a:hover{
		color: #eee;
		transition: all 1s;
	}
	/*************************************************/
	/* START */
	/* section 첫 번째 */
	.content_main {
		background-image: linear-gradient(#f5faff 10%, #c7ddf1 50%, #dbfff6);
		height: 600px;
	}
	.main-section1 {
		margin: 0 auto;
		padding: 240px 0 0 30px; 
		width: 1000px;
	}
	.main-section1 p {
		font-family: 'Rix'; font-size: 4em; font-weight:900;  
		padding-left: 30px;
		background: linear-gradient(to right top, #6c95fc, #5fe3e3, #7ef49f 70%);    
		-webkit-background-clip: text;
		-webkit-text-fill-color: transparent;
	}
	.main-section1 p:nth-child(2) {
		padding: 30px 0 10px 30px;
		font-family: 'NEXON'; font-size: 1.1em; font-weight: 900; line-height: 23px;
		
		background: linear-gradient(to right top, #6c95fc, #5fe3e3);    
		-webkit-background-clip: text;
		-webkit-text-fill-color: transparent;
	}
	.main-section1 a.btn {
		display: block; width: 250px; padding: 17px; 
		margin-top: 20px; margin-left:30px; text-align: center; border-radius: 50px;
		background: linear-gradient(to left, #6c95fc, #5fe3e3); color: #fff;
		
		font-family:'NEXON';
		text-shadow: rgba(0, 0, 0, 0.4) 1px 0 10px;
		box-shadow: 5px 5px 1px #6c95fc;
		transition: all 1s;
	}
	.main-section1 a.btn:hover {
		transition: all 1s;
		transform: translateY(-15%);

	}
	/* box-1 ~ box-3 애니메이션 */
	@keyframes up-down{
	  from{
		transform: translatey(0px);
	  }
	  to{
		transform: translatey(-20px);
	  }
	}
	@keyframes spin-box{
	  from{
		transform: rotate(7deg);
	  }
	  to{
		transform: rotate(-7deg);
	  }
	}
	@keyframes spin-box2{
	  from{
		transform: rotate(-3deg);
	  }
	  to{
		transform: rotate(17deg);
	  }
	}
	/************************/
	.box-1 {
		position: absolute; margin: -290px 0 0 490px;
		background-image: url("../img/box/768/1.png");
		width:391px; height:388px;  
		animation: up-down 1.7s infinite ease-in-out alternate;
	}
	.box-1 span:nth-child(1) {
		position:absolute; margin: 170px 0 0 120px;
		background-image: url("../img/box/768/in.png");
		width:134px; height:159px;  
		transform: rotate(15deg);
		animation: spin-box2 2.6s infinite ease-in-out alternate;
	}
	.box-1 span:nth-child(2) {
		position:absolute; margin: 150px 0 0 130px;
		background-image: url("../img/box/768/book.png");
		width:63px; height:63px;  
		transform: rotate(-15deg);
	}
	.box-1 span:nth-child(3) {
		position:absolute; margin: 120px 0 0 200px;
		background-image: url("../img/box/768/note.png");
		width:37px; height:26px;  
		transform: rotate(-15deg);
	}
	.box-2 {
		position: absolute;
		background-image: url("../img/box/768/2.png");
		width:423px; height:400px;  
		animation: up-down 0.7s infinite ease-in-out alternate;
		animation: spin-box 1.6s infinite ease-in-out alternate;
	}
	.box-3 {
		position: absolute;
		background-image: url("../img/box/768/3.png");
		width:416px; height:402px;  
		animation: up-down 2.7s infinite ease-in-out alternate;
	}
	/************************************************************
	/* section 두 번째 */
	.content_2 {
		padding-top: 120px;
		background-image: linear-gradient(#dbfff6, #dbffe9 50%, #fbffdb);
		height: 870px;
		
		font-family: 'NEXON'; font-weight: 900;
	}
	.content_2 > p{
		margin: 0 auto;
		text-align: center;
		font-size: 3em; font-weight: 100; color:#90cdda; line-height: 100px;
		font-family: 'Rix'; 
		width: 1000px;
	}
	.content_2 p span {
		display: block;
		width: 120px; height: 25px;
		
		margin: 0 auto;
		border-bottom:7px solid #4f7b8d;
	}
	/* 박스 */
	.content_2 > .profile_box {
		clear: both;
		padding: 50px;
		margin:0 auto;
		width: 1000px; height: 610px;
		
		background-color: rgba(255, 255, 255, 0.2);
		transition: all 0.5s;
		
		border:1px solid #fff; border-radius: 30px;
		
		box-shadow: 2px 2px 15px rgba(62, 96, 96, 0.1);
	}
	.content_2 > .profile_box:hover {
		background-color: rgba(255, 255, 255, 0.5);
		transition: all 0.4s;
		
		border:1px solid #fff;
	}
	/* 왼쪽 컨텐츠 */
	.content_2 > .profile_box > .profile-left { float: left; width: 405px; color:#1b3b48; }
	.content_2 > .profile_box > .profile-left img { max-width: 200px; }
	.content_2 > .profile_box > .profile-left > h1 { font-size: 2em; font-weight: 900; font-family: 'NEXON_B'; letter-spacing: -2px; }
	.content_2 > .profile_box > .profile-left > h1 > span { margin-top: -13px; display: block; width: 210px; height: 20px; background-color: rgba(62, 96, 96, 0.3); }
	.content_2 > .profile_box > .profile-left > h2 { padding-top: 25px; font-size: 0.94em;}
	.content_2 > .profile_box > .profile-left > h2 > p { line-height: 20px; } 
	
	/* 오른쪽 컨텐츠 */
	.content_2 > .profile_box > .profile-right { 
		float: left; 
		width: 455px; 
		font-size: 0.94em; letter-spacing: -1px; color:#1b3b48;
	}
	.content_2 > .profile_box > .profile-right a {
		text-decoration: underline;
	}
	.content_2 > .profile_box > .profile-right > .profile-right-text {
		line-height: 30px;
	}
	.content_2 > .profile_box > .profile-right > h2 > span:after {    
		position: absolute;
		content: '';
		width: 8px;
		height: 8px;
		border-top: 2px solid #006d9a;
		border-right: 2px solid #006d9a;
		transform: rotate(45deg);
		margin-top: 5px;
	}
	/* SKILL 아이콘 */
	.content_2 > .profile_box > .profile-right span img {display: block; float:left; margin:15px 12px 0 0; transition:all 1s;}
	.content_2 > .profile_box > .profile-right span img:hover { 
		margin:5px 12px 0 0;
		transition:all 0.3s;
	}
	.content_2 > .profile_box > .profile-right span img:nth-child(1):hover {
		-webkit-filter: drop-shadow(0px 5px 10px rgba(255, 138, 88, 0.7));
        filter: drop-shadow(0px 5px 10px rgba(255, 138, 88, 0.7));
	}
	.content_2 > .profile_box > .profile-right span img:nth-child(2):hover {
		-webkit-filter: drop-shadow(0px 5px 10px rgba(234, 232, 36, 0.7));
        filter: drop-shadow(0px 5px 10px rgba(255, 232, 36, 0.7));
	}
	.content_2 > .profile_box > .profile-right span img:nth-child(3):hover {
		-webkit-filter: drop-shadow(0px 5px 10px rgba(36, 148, 234, 0.7));
        filter: drop-shadow(0px 5px 10px rgba(36, 148, 234, 0.7));
	}
	.content_2 > .profile_box > .profile-right span img:nth-child(4):hover {
		-webkit-filter: drop-shadow(5px 5px 6px rgba(17, 70, 111, 0.5));
        filter: drop-shadow(5px 5px 6px rgba(17, 70, 111, 0.7));
	}
	.content_2 > .profile_box > .profile-right span img:nth-child(5):hover {
		-webkit-filter: drop-shadow(5px 5px 6px rgba(111, 79, 17, 0.5));
        filter: drop-shadow(5px 5px 6px rgba(111, 79, 17, 0.7));
	}
	.content_2 > .profile_box > .profile-right span img:nth-child(6):hover {
		-webkit-filter: drop-shadow(5px 5px 6px rgba(66, 17, 111, 0.5));
        filter: drop-shadow(5px 5px 6px rgba(66, 17, 111, 0.7));
	}
	
	.content_2 > .profile_box > .profile-right > h2 { font-size: 1.25em; font-weight: 900;}
	/*****************************************
	section 세번째 
	*****************************************/
	.content_3 {
		padding-top: 80px;
		background-image: linear-gradient(#fbffdb, #fff4db 50%, #f4ffdb);
		height: 920px;
		
		font-family: 'NEXON'; font-weight: 900;
	}
	.content_3 > p{
		margin: 0 auto;
		text-align: center;
		font-size: 2.7em; font-weight: 100; color:#d1d5b4; line-height: 110px;
		font-family: 'Rix'; 
		width: 1000px;
	}
	.content_3 p span {
		display: block;
		width: 120px; height: 25px;
		
		margin: 0 auto;
		border-bottom:7px solid #939871;
	}
	.content_3 .box__gallery {
		margin-top: 0px;
	}
	/* 갤러리 썸네일들 */
	.box__gallery {
		width: 1000px;
		margin: 0 auto;
		display: flex;
		flex-wrap: wrap;
		justify-content: space-between;
	}
	.box__gallery img {
		width: 100%;
		margin: 0 15px 50px 0;
		border-radius: 1em;
		
		box-shadow: rgba(0, 0, 0, 0.2) 3px 7px 15px;
		transition: all 0.4s;
	}
	@keyframes ring{
	  0%{
		transform: rotate(0deg);
	  }
	  50%{
		transform: rotate(4deg);
	  }
	  100%{
		transform: rotate(-2deg);
	  }
	}
	.box__gallery img:hover {
		filter: brightness(80%);
		transition: all 0.4s;
		animation: ring 0.6s infinite ease-in-out alternate;
	}
	/*****************************************
	section 네번째 
	*****************************************/
	.content_4 {
		padding-top: 110px;
		background-image: linear-gradient(#f4ffdb, #dbffe2 50%, #dbfffc);
		height: 1950px;
		
		font-family: 'NEXON'; font-weight: 900;
	}
	.content_4 > p{
		margin: 0 auto;
		text-align: center;
		font-size: 2.7em; font-weight: 100; color:#7c978c; line-height: 110px;
		font-family: 'Rix'; 
		width: 1000px;
	}
	.content_4 p span {
		display: block;
		width: 120px;
		
		margin: 0 auto;
		border-bottom: 6px solid #52675f;
	}
	/* section 네번째 포트폴리오 1 */
	.content_4 .portfolio-1,
	.content_4 .portfolio-2,
	.content_4 .portfolio-3,
	.content_4 .portfolio-4,
	.content_4 .portfolio-5 {
		clear: both;
		padding: 50px;
		margin:0 auto; margin-bottom: 30px;
		width: 1000px; height: 310px;
		
		background-color: rgba(255, 255, 255, 0.2);
		border:1px solid #fff; border-radius: 30px;
		box-shadow: 2px 2px 15px rgba(62, 96, 96, 0.1);
	}
	.content_4 .portfolio-1 > #darkeden img,
	.content_4 .portfolio-2 > #jungang img,
	.content_4 .portfolio-3 > #lg img,
	.content_4 .portfolio-4 > #mac img,
	.content_4 .portfolio-5 > #manggo img {
		width: 35%;
		margin-left: 30px;
		border-radius: 1em; 
		box-shadow: rgba(0, 0, 0, 0.3) 2px 2px 6px;
		
		float: left;
	}
	.content_4 .portfolio-1 > #darkeden_text,
	.content_4 .portfolio-1 > .darkeden-btn,
	.content_4 .portfolio-2 > #jungang_text,
	.content_4 .portfolio-2 > .jungang-btn,
	.content_4 .portfolio-3 > #lg_text,
	.content_4 .portfolio-3 > .lg-btn,
	.content_4 .portfolio-4 > #mac_text,
	.content_4 .portfolio-4 > .mac-btn,
	.content_4 .portfolio-5 > #manggo_text,
	.content_4 .portfolio-5 > .manggo-btn{
		float: left;
		padding-left: 100px;
	}
	.content_4 .portfolio-1 > #darkeden_text span,
	.content_4 .portfolio-2 > #jungang_text span,
	.content_4 .portfolio-3 > #lg_text span,
	.content_4 .portfolio-4 > #mac_text span,
	.content_4 .portfolio-5 > #manggo_text span {
		display: block;
		font-size: 1.789em; color: #4b635f;
		
		font-family:'NEXON_B';
	}
	.content_4 .portfolio-1 > #darkeden_text p,
	.content_4 .portfolio-2 > #jungang_text p,
	.content_4 .portfolio-3 > #lg_text p,
	.content_4 .portfolio-4 > #mac_text p,
	.content_4 .portfolio-5 > #manggo_text p{
		display: block;
		padding-top: 30px;
		font-size: 0.98em; color: #4b635f; line-height: 20px;
		width: 420px;
		
		font-family:'NEXON';
	}
	.content_4 .portfolio-1 > .darkeden-btn a,
	.content_4 .portfolio-2 > .jungang-btn a,
	.content_4 .portfolio-3 > .lg-btn a,
	.content_4 .portfolio-4 > .mac-btn a,
	.content_4 .portfolio-5 > .manggo-btn a{
		margin-top: 30px;
		padding: 10px 30px 10px 30px; border-radius: 1em;
		color: #fff;
		background-image: linear-gradient(to left, #89df9a, #98f9ab);
		box-shadow: rgba(125, 207, 141, 0.5) 3px 7px 8px;
		display: block;
		transition: all 1s;
	}
	.content_4 .portfolio-1 > .darkeden-btn a:hover,
	.content_4 .portfolio-2 > .jungang-btn a:hover,
	.content_4 .portfolio-3 > .lg-btn a:hover,
	.content_4 .portfolio-4 > .mac-btn a:hover,
	.content_4 .portfolio-5 > .manggo-btn a:hover{
		opacity: 0.4;
		transition: all 0.4s;
	}
	/******************************************* 
	section 다섯번째 
	*******************************************/
	.content_5 {
		padding-top: 100px;
		background-image: linear-gradient(#f4ffdb, #fffedb 50%, #f4ffdb);
		height: 600px;
		
		font-family: 'NEXON'; font-weight: 900;
	}
	.content_5 > p{
		margin: 0 auto;
		text-align: center;
		font-size: 2.7em; font-weight: 100; color:#bec39e; line-height: 110px;
		font-family: 'Rix'; 
		width: 1000px;
	}
	.content_5 > p span {
		display: block;
		width: 120px;
		
		margin: 0 auto;
		border-bottom: 6px solid #989571;
	}
	.content_5 .portfolio2-box {
		width:1000px;
		margin: 0 auto;
	}
	/* section 5 슬라이드 */
	.swiper-container {
		width:1000px;
		height:auto;
		float:left;
	}
	.swiper-slide img {
		margin: 0 3px 3px 3px;
		float: left;
		box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.2);
	}
	/* 슬라이드 이미지 */
	.image1 { width: 328px; height: 412px; }
	.slide-text p { 
		position: absolute; transition: all 0.4s; 
		opacity: 0; color: #efefef;
		top: 50%; left: 16%;
		transform: translate(-50%, -16%);
		text-align: center;
	}
	.slide-text span { font-size : 28px; }
	.slide-text:hover p {
		transition: all 0.4s; opacity: 1;
	}
	.slide-text:hover .cover-image {
		position: absolute;
		width: 328px; height: 412px;
		top: 50%; left: 16.7%;
		transform: translate(-50%, -50%);
		background-color: rgba(0, 0, 0, 0.4);
	}
	
	.image2 { width: 327px; height: 412px; }
	.slide-text2 p { 
		position: absolute; transition: all 0.4s; 
		opacity: 0; color: #efefef;
		top: 54%; left: 50.5%;
		transform: translate(-54%, -50%);
		text-align: center;
	}
	.slide-text2 span { font-size : 28px; }
	.slide-text2:hover p {
		transition: all 0.4s; opacity: 1;
	}
	.slide-text2:hover .cover-image {
		position: absolute;
		width: 327px; height: 412px;
		top: 50%; left: 50%;
		transform: translate(-50%, -50%);
		background-color: rgba(0, 0, 0, 0.4);
	}
	
	.image3 { width: 327px; height: 412px; }
	.slide-text3 p { 
		position: absolute; transition: all 0.4s; 
		opacity: 0; color: #efefef;
		top: 58%; left: 85%;
		transform: translate(-58%, -84%);
		text-align: center;
	}
	.slide-text3 span { font-size : 28px; }
	.slide-text3:hover p {
		transition: all 0.4s; opacity: 1;
	}
	.slide-text3:hover .cover-image {
		position: absolute;
		width: 327px; height: 412px;
		top: 51%; left: 83%;
		transform: translate(-49%, -51%);
		background-color: rgba(0, 0, 0, 0.4);
	}
	
	/*
	.image4 { width: 394px; height: 512px; }
	.image5 { width: 393px; height: 512px; }
	.image6 { width: 394px; height: 512px; }*/
	/*****************************************
	section 여섯번째 
	*****************************************/
	.content_6 {
		background-image: linear-gradient(#dbfffc, #dbfffc 50%, #f5faff);
		font-family: 'NEXON'; font-weight: 900;
	}
	.footer-box {
		width: auto; height: 230px;
		background-color: rgba(255, 255, 255, 0.2); box-shadow: rgba(0, 0, 0, 0.2) 1px 5px 30px;
		border-radius: 999px 999px 0 0;
	}
	.content_6 .footer-box > p{
		margin: 0 auto;
		text-align: center;
		font-size: 2.7em; font-weight: 100; color:#9ab2b0; padding-top: 30px;line-height: 70px;
		font-family: 'Rix'; 
	}
	.content_6 .footer-box > p span {
		display: block;
		width: 120px;
		
		margin: 0 auto;
		border-bottom: 6px solid #b5d3d1;
	}
	.content_6 .footer-box > h3 {
		display: block; padding-top: 30px; font-size: 13px;
		line-height: 20px;
		text-align: center;
		margin: 0 auto;
		color: #4f6967;
	}
}
@media ( min-width: 1366px ) {
	.content_main #nav {
		width:100%;
		position: fixed;
		z-index: 100;
		
		transition: all 1s;
	}
	.content_main #nav.active {
		background-color: rgba(255, 255, 255, 0.7);
		box-shadow: 15px 2px 23px #699999;
		margin-top: -15px;
		
		transition: all 0.5s; 
	}
	.content_main .container {
		margin:0 auto;
		width:1200px;
	}
	.content_main ul {
		float: left;
	}
	.content_main ul li {
		display: inline-block;
		padding: 50px 20px 35px 20px;
	}
	.content_main ul li a{
		font-size:1.2em;
		font-family:'Nanum'; font-weight: 900;
		color: #638181;
		transition: all 1s;
	}
	.content_main ul li a:hover{
		color: #eee;
		transition: all 1s;
	}
	/*************************************************/
	/* START */
	/* section 첫 번째 */
	.content_main {
		background-image: linear-gradient(#f5faff 10%, #c7ddf1 50%, #dbfff6);
		height: 800px;
	}
	.main-section1 {
		margin: 0 auto;
		padding: 190px 0 0 20px; 
		width: 1200px;
	}
	.main-section1 p {
		font-family: 'Rix'; font-size: 5em; font-weight:900;  
		
		background: linear-gradient(to right top, #6c95fc, #5fe3e3, #7ef49f 70%);    
		-webkit-background-clip: text;
		-webkit-text-fill-color: transparent;
	}
	.main-section1 p:nth-child(2) {
		padding: 30px 0 10px 30px;
		font-family: 'NEXON'; font-size: 1.1em; font-weight: 900; line-height: 23px;
		
		background: linear-gradient(to right top, #6c95fc, #5fe3e3);    
		-webkit-background-clip: text;
		-webkit-text-fill-color: transparent;
	}
	.main-section1 a.btn {
		display: block; width: 270px; padding: 21px; 
		margin-top: 20px; text-align: center; border-radius: 50px;
		background: linear-gradient(to left, #6c95fc, #5fe3e3); color: #fff;
		
		font-family:'NEXON';
		text-shadow: rgba(0, 0, 0, 0.4) 1px 0 10px;
		box-shadow: 5px 5px 1px #6c95fc;
		transition: all 1s;
	}
	.main-section1 a.btn:hover {
		transition: all 1s;
		transform: translateY(-15%);

	}
	/* box-1 ~ box-3 애니메이션 */
	@keyframes up-down{
	  from{
		transform: translatey(0px);
	  }
	  to{
		transform: translatey(-20px);
	  }
	}
	@keyframes spin-box{
	  from{
		transform: rotate(7deg);
	  }
	  to{
		transform: rotate(-7deg);
	  }
	}
	@keyframes spin-box2{
	  from{
		transform: rotate(-3deg);
	  }
	  to{
		transform: rotate(17deg);
	  }
	}
	/************************/
	.box-1 {
		position: absolute; margin: -290px 0 0 520px;
		background-image: url("../img/box/1366/1.png");
		width:674px; height:668px;  
		animation: up-down 1.7s infinite ease-in-out alternate;
	}
	.box-1 span:nth-child(1) {
		position:absolute; margin: 320px 0 0 230px;
		background-image: url("../img/box/1366/in.png");
		width:191px; height:226px;  
		transform: rotate(15deg);
		animation: spin-box2 2.6s infinite ease-in-out alternate;
	}
	.box-1 span:nth-child(2) {
		position:absolute; margin: 250px 0 0 210px;
		background-image: url("../img/box/1366/book.png");
		width:91px; height:91px;  
		transform: rotate(-15deg);
	}
	.box-1 span:nth-child(3) {
		position:absolute; margin: 250px 0 0 330px;
		background-image: url("../img/box/1366/note.png");
		width:65px; height:47px;  
		transform: rotate(-15deg);
	}
	.box-2 {
		position: absolute;
		background-image: url("../img/box/1366/2.png");
		width:706px; height:669px;  
		animation: up-down 0.7s infinite ease-in-out alternate;
		animation: spin-box 1.6s infinite ease-in-out alternate;
	}
	.box-3 {
		position: absolute;
		background-image: url("../img/box/1366/3.png");
		width:700px; height:676px;  
		animation: up-down 2.7s infinite ease-in-out alternate;
	}
	/******************************************* 
	section 두번째 
	*******************************************/
	.content_2 {
		padding-top: 150px;
		background-image: linear-gradient(#dbfff6, #dbffe9 50%, #fbffdb);
		height: 900px;
		
		font-family: 'NEXON'; font-weight: 900;
	}
	.content_2 > p{
		margin: 0 auto;
		text-align: center;
		font-size: 3em; font-weight: 100; color:#90cdda; line-height: 100px;
		font-family: 'Rix'; 
		width: 1200px;
	}
	.content_2 p span {
		display: block;
		width: 120px; height: 25px;
		
		margin: 0 auto;
		border-bottom:7px solid #4f7b8d;
	}
	/* 박스 */
	.content_2 > .profile_box {
		clear: both;
		padding: 50px;
		margin:0 auto;
		width: 1200px; height: 610px;
		
		background-color: rgba(255, 255, 255, 0.2);
		transition: all 0.5s;
		
		border:1px solid #fff; border-radius: 30px;
		
		box-shadow: 2px 2px 15px rgba(62, 96, 96, 0.1);
	}
	.content_2 > .profile_box:hover {
		background-color: rgba(255, 255, 255, 0.5);
		transition: all 0.4s;
		
		border:1px solid #fff;
	}
	/* 왼쪽 컨텐츠 */
	.content_2 > .profile_box > .profile-left { float: left; width: 505px; color:#1b3b48; }
	.content_2 > .profile_box > .profile-left img { max-width: 200px; }
	.content_2 > .profile_box > .profile-left > h1 { font-size: 2em; font-weight: 900; font-family: 'NEXON_B'; letter-spacing: -2px; }
	.content_2 > .profile_box > .profile-left > h1 > span { margin-top: -13px; display: block; width: 210px; height: 20px; background-color: rgba(62, 96, 96, 0.3); }
	.content_2 > .profile_box > .profile-left > h2 { padding-top: 25px; font-size: 0.92em;}
	.content_2 > .profile_box > .profile-left > h2 > p { line-height: 20px; } 
	
	/* 오른쪽 컨텐츠 */
	.content_2 > .profile_box > .profile-right { 
		float: left; 
		width: 505px; 
		font-size: 0.98em; letter-spacing: -1px; color:#1b3b48;
	}
	.content_2 > .profile_box > .profile-right a {
		text-decoration: underline;
	}
	.content_2 > .profile_box > .profile-right > .profile-right-text {
		line-height: 30px;
	}
	.content_2 > .profile_box > .profile-right > h2 > span:after {    
		position: absolute;
		content: '';
		width: 8px;
		height: 8px;
		border-top: 2px solid #006d9a;
		border-right: 2px solid #006d9a;
		transform: rotate(45deg);
		margin-top: 4px;
	}
	/* SKILL 아이콘 */
	.content_2 > .profile_box > .profile-right span img {display: block; float:left; margin:15px 12px 0 0; transition:all 1s;}
	.content_2 > .profile_box > .profile-right span img:hover { 
		margin:5px 12px 0 0;
		transition:all 0.3s;
	}
	.content_2 > .profile_box > .profile-right span img:nth-child(1):hover {
		-webkit-filter: drop-shadow(0px 5px 10px rgba(255, 138, 88, 0.7));
        filter: drop-shadow(0px 5px 10px rgba(255, 138, 88, 0.7));
	}
	.content_2 > .profile_box > .profile-right span img:nth-child(2):hover {
		-webkit-filter: drop-shadow(0px 5px 10px rgba(234, 232, 36, 0.7));
        filter: drop-shadow(0px 5px 10px rgba(255, 232, 36, 0.7));
	}
	.content_2 > .profile_box > .profile-right span img:nth-child(3):hover {
		-webkit-filter: drop-shadow(0px 5px 10px rgba(36, 148, 234, 0.7));
        filter: drop-shadow(0px 5px 10px rgba(36, 148, 234, 0.7));
	}
	.content_2 > .profile_box > .profile-right span img:nth-child(4):hover {
		-webkit-filter: drop-shadow(5px 5px 6px rgba(17, 70, 111, 0.5));
        filter: drop-shadow(5px 5px 6px rgba(17, 70, 111, 0.7));
	}
	.content_2 > .profile_box > .profile-right span img:nth-child(5):hover {
		-webkit-filter: drop-shadow(5px 5px 6px rgba(111, 79, 17, 0.5));
        filter: drop-shadow(5px 5px 6px rgba(111, 79, 17, 0.7));
	}
	.content_2 > .profile_box > .profile-right span img:nth-child(6):hover {
		-webkit-filter: drop-shadow(5px 5px 6px rgba(66, 17, 111, 0.5));
        filter: drop-shadow(5px 5px 6px rgba(66, 17, 111, 0.7));
	}
	
	.content_2 > .profile_box > .profile-right > h2 { font-size: 1.25em; font-weight: 900;}
	/******************************************* 
	section 세번째 
	*******************************************/
	.content_3 {
		padding-top: 90px;
		background-image: linear-gradient(#fbffdb, #fff4db 50%, #f4ffdb);
		height: 930px;
		
		font-family: 'NEXON'; font-weight: 900;
	}
	.content_3 > p{
		margin: 0 auto;
		text-align: center;
		font-size: 2.7em; font-weight: 100; color:#d1d5b4; line-height: 110px;
		font-family: 'Rix'; 
		width: 1200px;
	}
	.content_3 p span {
		display: block;
		width: 120px; height: 25px;
		
		margin: 0 auto;
		border-bottom:7px solid #939871;
	}
	.content_3 .box__gallery {
		margin-top: 0px;
	}
	/* 갤러리 썸네일들 */
	.box__gallery {
		width: 1000px;
		margin: 0 auto;
		display: flex;
		flex-wrap: wrap;
		justify-content: space-between;
	}
	.box__gallery img {
		width: 100%;
		margin: 0 15px 50px 0;
		border-radius: 1em;
		
		box-shadow: rgba(0, 0, 0, 0.2) 3px 7px 15px;
		transition: all 0.4s;
	}
	@keyframes ring{
	  0%{
		transform: rotate(0deg);
	  }
	  50%{
		transform: rotate(4deg);
	  }
	  100%{
		transform: rotate(-2deg);
	  }
	}
	.box__gallery img:hover {
		filter: brightness(80%);
		transition: all 0.4s;
		animation: ring 0.6s infinite ease-in-out alternate;
	}
	/******************************************* 
	section 네번째 
	*******************************************/
	.content_4 {
		padding-top: 110px;
		background-image: linear-gradient(#f4ffdb, #dbffe2 50%, #dbfffc);
		height: 1950px;
		
		font-family: 'NEXON'; font-weight: 900;
	}
	/* section 네번째 포트폴리오 1 */
	.content_4 .portfolio-1,
	.content_4 .portfolio-2,
	.content_4 .portfolio-3,
	.content_4 .portfolio-4,
	.content_4 .portfolio-5 {
		clear: both;
		padding: 50px;
		margin:0 auto; margin-bottom: 30px;
		width: 1200px; height: 310px;
		
		background-color: rgba(255, 255, 255, 0.2);
		border:1px solid #fff; border-radius: 30px;
		box-shadow: 2px 2px 15px rgba(62, 96, 96, 0.1);
	}
	.content_4 .portfolio-1 > #darkeden img,
	.content_4 .portfolio-2 > #jungang img,
	.content_4 .portfolio-3 > #lg img,
	.content_4 .portfolio-4 > #mac img,
	.content_4 .portfolio-5 > #manggo img {
		width: 35%;
		margin-left: 30px;
		border-radius: 1em; 
		box-shadow: rgba(0, 0, 0, 0.3) 2px 2px 6px;
		
		float: left;
	}
	.content_4 .portfolio-1 > #darkeden_text,
	.content_4 .portfolio-1 > .darkeden-btn,
	.content_4 .portfolio-2 > #jungang_text,
	.content_4 .portfolio-2 > .jungang-btn,
	.content_4 .portfolio-3 > #lg_text,
	.content_4 .portfolio-3 > .lg-btn,
	.content_4 .portfolio-4 > #mac_text,
	.content_4 .portfolio-4 > .mac-btn,
	.content_4 .portfolio-5 > #manggo_text,
	.content_4 .portfolio-5 > .manggo-btn{
		float: left;
		padding-left: 100px;
	}
	.content_4 .portfolio-1 > #darkeden_text span,
	.content_4 .portfolio-2 > #jungang_text span,
	.content_4 .portfolio-3 > #lg_text span,
	.content_4 .portfolio-4 > #mac_text span,
	.content_4 .portfolio-5 > #manggo_text span {
		display: block;
		font-size: 1.789em; color: #4b635f;
		
		font-family:'NEXON_B';
	}
	.content_4 .portfolio-1 > #darkeden_text p,
	.content_4 .portfolio-2 > #jungang_text p,
	.content_4 .portfolio-3 > #lg_text p,
	.content_4 .portfolio-4 > #mac_text p,
	.content_4 .portfolio-5 > #manggo_text p{
		display: block;
		padding-top: 30px;
		font-size: 0.98em; color: #4b635f; line-height: 20px;
		width: 420px;
		
		font-family:'NEXON';
	}
	.content_4 .portfolio-1 > .darkeden-btn a,
	.content_4 .portfolio-2 > .jungang-btn a,
	.content_4 .portfolio-3 > .lg-btn a,
	.content_4 .portfolio-4 > .mac-btn a,
	.content_4 .portfolio-5 > .manggo-btn a{
		margin-top: 30px;
		padding: 10px 30px 10px 30px; border-radius: 1em;
		color: #fff;
		background-image: linear-gradient(to left, #89df9a, #98f9ab);
		box-shadow: rgba(125, 207, 141, 0.5) 3px 7px 8px;
		display: block;
		transition: all 1s;
	}
	.content_4 .portfolio-1 > .darkeden-btn a:hover,
	.content_4 .portfolio-2 > .jungang-btn a:hover,
	.content_4 .portfolio-3 > .lg-btn a:hover,
	.content_4 .portfolio-4 > .mac-btn a:hover,
	.content_4 .portfolio-5 > .manggo-btn a:hover{
		opacity: 0.4;
		transition: all 0.4s;
	}	
	/******************************************* 
	section 다섯번째 
	*******************************************/
	.content_5 {
		padding-top: 100px;
		background-image: linear-gradient(#f4ffdb, #fffedb 50%, #f4ffdb);
		height: 750px;
		
		font-family: 'NEXON'; font-weight: 900;
	}
	.content_5 > p{
		margin: 0 auto;
		text-align: center;
		font-size: 2.7em; font-weight: 100; color:#bec39e; line-height: 110px;
		font-family: 'Rix'; 
		width: 1200px;
	}
	.content_5 > p span {
		display: block;
		width: 120px;
		
		margin: 0 auto;
		border-bottom: 6px solid #989571;
	}
	.content_5 .portfolio2-box {
		width:1200px;
		margin: 0 auto;
	}
	/* section 5 슬라이드 */
	.swiper-container {
		width:1200px;
		height:auto;
		margin-top:0px;
		float:left;
	}
	.swiper-slide img {
		margin: 0 3px 3px 3px;
		float: left;
		box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.2);
	}
	/* 슬라이드 이미지 */
	.image1 { width: 394px; height: 512px; }
	.slide-text p { 
		position: absolute; transition: all 0.4s; 
		opacity: 0; color: #efefef;
		top: 50%; left: 16%;
		transform: translate(-50%, -16%);
		text-align: center;
	}
	.slide-text span { font-size : 30px; }
	.slide-text:hover p {
		transition: all 0.4s; opacity: 1;
	}
	.slide-text:hover .cover-image {
		position: absolute;
		width: 394px; height: 512px;
		top: 50%; left: 16.7%;
		transform: translate(-50%, -50%);
		background-color: rgba(0, 0, 0, 0.4);
	}
	
	.image2 { width: 393px; height: 512px; }
	.slide-text2 p { 
		position: absolute; transition: all 0.4s; 
		opacity: 0; color: #efefef;
		top: 54%; left: 50.5%;
		transform: translate(-54%, -50%);
		text-align: center;
	}
	.slide-text2 span { font-size : 30px; }
	.slide-text2:hover p {
		transition: all 0.4s; opacity: 1;
	}
	.slide-text2:hover .cover-image {
		position: absolute;
		width: 394px; height: 512px;
		top: 50%; left: 50%;
		transform: translate(-50%, -50%);
		background-color: rgba(0, 0, 0, 0.4);
	}
	
	.image3 { width: 394px; height: 512px; }
	.slide-text3 p { 
		position: absolute; transition: all 0.4s; 
		opacity: 0; color: #efefef;
		top: 58%; left: 85%;
		transform: translate(-58%, -84%);
		text-align: center;
	}
	.slide-text3 span { font-size : 30px; }
	.slide-text3:hover p {
		transition: all 0.4s; opacity: 1;
	}
	.slide-text3:hover .cover-image {
		position: absolute;
		width: 394px; height: 512px;
		top: 51%; left: 83%;
		transform: translate(-49%, -51%);
		background-color: rgba(0, 0, 0, 0.4);
	}
	
	/*
	.image4 { width: 394px; height: 512px; }
	.image5 { width: 393px; height: 512px; }
	.image6 { width: 394px; height: 512px; }*/
	/******************************************* 
	section 마지막 
	*******************************************/
	.content_6 {
		background-image: linear-gradient(#dbfffc, #dbfffc 50%, #f5faff); /*linear-gradient(#e9eaff, #fff 50%, #fff);*/
		font-family: 'NEXON'; font-weight: 900;
	}
	.footer-box {
		width: auto; height: 230px;
		background-color: rgba(255, 255, 255, 0.2); box-shadow: rgba(0, 0, 0, 0.1) 1px 5px 30px;
		border-radius: 999px 999px 0 0;
	}
	.content_6 .footer-box > p{
		margin: 0 auto;
		text-align: center;
		font-size: 2.7em; font-weight: 100; color:#9ab2b0; padding-top: 30px;line-height: 70px;
		font-family: 'Rix'; 
	}
	.content_6 .footer-box > p span {
		display: block;
		width: 120px;
		
		margin: 0 auto;
		border-bottom: 6px solid #b5d3d1;
	}
	.content_6 .footer-box > h3 {
		display: block; padding-top: 30px; font-size: 13px;
		line-height: 20px;
		text-align: center;
		margin: 0 auto;
		color: #4f6967;
	}
}
